<?xml version="1.0"?>
<packages>
	<package id="googlechrome" />
	<package id="firefox" />
	<package id="7zip" />
	<package id="git" />
	<package id="adobereader" />
	<package id="vlc" />
	<package id="skype" />
	<package id="wireshark" />
	<package id="gimp" />
	<package id="sublimetext3" />
	<package id="terapad" />
	<package id="brackets" />
	<package id="thunderbird" />
	<package id="jdk8" />
	<package id="github" />
	<package id="line" />
	<package id="slack" />
</packages>