<?xml version="1.0"?>
<packages>
<package id="7zip" />
<package id="adobereader" />
<package id="brackets" />
<package id="bzeditor" />
<package id="firefox" />
<package id="gimp" />
<package id="git" />
<package id="github" />
<package id="googlechrome" />
<package id="googlejapaneseinput" />
<package id="jdk8" />
<package id="line" />
<package id="skype" />
<package id="slack" />
<package id="sublimetext3" />
<package id="terapad" />
<package id="teraterm" />
<package id="thunderbird" />
<package id="virtualbox" />
<package id="vlc" />
<package id="wireshark" />
</packages>